.mtop15 {
    margin-top:15px;
}
.mbottom25 {
    margin-bottom:25px;
}
.input-text {
    width:550px;
}
.form-row .field-name {
    width: 210px;
}
textarea {
    width:550px;
}
#installation_folder {
    width: 340px;
}
.license-active {
    padding:15px;
    border-color: #c1e3ee #a3d1e2;
    background:#bcdf94;
    width:820px;
}
.panel {
    padding: 15px;
    margin-bottom: 25px;
}

#pm-list-microweber {
    filter: blur(2px);
}
#pm-list-microweber:before {
    content: " ";
    width: 100% !important;
    height: 100% !important;
    position: absolute;
   /* background: rgba(0, 0, 0, 0.81);*/
}
.microweber-license-message {
    text-align: center;
    padding: 31px;
    background: rgb(255, 233, 233);
    color: #c15656;
}
.microweber-license-message h2 {
    color: #bf4242;
}
.microweber-license-message h3 {
    color: #c46161;
}
