#pm-list-microweber {

}

#pm-list-microweber:before {


}

.microweber-license-message {
    text-align: center;
    padding: 31px;
    background: rgb(255, 233, 233);
    color: #c15656;
}

.microweber-license-message h2 {
    color: #bf4242;
}

.microweber-license-message h3 {
    color: #c46161;
}
